.photo-grid {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  max-width: 100%;
  gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid {
  gap: 14px;
  }
}