.header {
  display: flex;
  justify-content: space-between;
  width: 92.5%;
  max-width: 1184px;
  align-self: center;
}

@media (max-width: 1279px) {
  .header {
    width: 90.6%;
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .header {
    width: 94%;
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .header {
    width: 90%;
    max-width: 288px;
  }
}
