.header {
  display: flex;
  justify-content: space-between;
  width: 92.5%;
  max-width: 1184px;
  align-self: center;
  }

  @media (max-width: 1024px) {
    .header {
      width: 90.6%;
     max-width: 928px;
    }
  }