.place__paragraph {
  font-size: 18px;
  line-height: 1.61;
  font-weight: 400;
  color: white;
  margin: 0 0 26px;
  padding: 0;
  }

 .place__paragraph:last-child {
   margin-bottom: 0;
 }

 @media (max-width: 1023px) {
  .place__paragraph {
  font-size: 16px;
  line-height: 25.95px;
  }
}

@media (max-width: 767px) {
  .place__paragraph {
  width: 288px;
  margin-left: 16px;
  margin-bottom: 26px;
  margin-right: 17px;
  }
}