.intro {
  display: flex;
  flex-direction: column;
  width: 984px;
  align-self: center;
  margin: 0;
  padding: 92px 0;
  
  font-size: 0;
}

@media (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 88px 0;
    
  }
}