.cover {
  background-image: url(../../images/__background.jpg);
  align-self: center;
  min-height: 740px;
  width: 100%;
  max-width: 1184px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  display: flex;
}

@media (max-width: 1024px) {
  .cover {
  width: 1024px;
  min-height: 640px;
  }
}