.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: white;
  margin: 0;
  align-self: flex-end;
}

@media (max-width: 767px) {
  .footer__copyright {
    align-self: flex-start;
    line-height: 1;
  }
}
