.place {
  display: grid;
  grid-template-columns: repeat(-webkit-fit-content, minmax(320px, 1fr));
  grid-template-columns: repeat(fit-content, minmax(320px, 1fr));
  grid-template-areas:
    "title website"
    "image description";
  gap: 48px 40px;
  padding-top: 92px;
  align-self: center;
  width: 100%;
  padding-top: 80px;
}
