.footer {
width: 92.5%;
max-width: 1184px;
align-self: center;
display: flex;
justify-content: space-between;
}

@media (max-width: 1024px) {
    .footer {
    max-width: 928px;
    }
  }

  @media (max-width: 768px) {
    .footer {
    max-width: 720px;
    width: 94%;
    }
  }
  @media (max-width: 320px) {
    .footer {
      max-width: 288px;
      width: 90%;
      flex-direction: column;
      
    }
  }

  