.place__description {
  max-width: 484px;
  width: 100%;
}

@media (max-width: 1024px) {
  .place__description {
  min-width: 600px;
  }
}

@media (max-width: 768px) {
  .place__description {
  min-width: 352px;
  }
}

